
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  margin: 0;
  background: #fafaf8;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
              0px 1px 2px rgba(0, 0, 0, 0.06);
}

header > img {
  width: 8rem;
  
  flex-shrink: 0;
}

header > h1 {
  font-weight: 400;
}


main {
  padding: 1.5rem 1rem;
}


.intro,
.add-ingredient-form,
.ingredients-section,
.generated-recipe-container,
.suggested-recipe-container {
  width: 100%;
  max-width: 50rem;
  margin-inline: auto;
}


.intro {
  background: rgb(210, 170, 94);
  border-radius: 8px;
  padding: 20px;
  text-align: justify;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.add-ingredient-form {
  display: flex;
  gap: 0.75rem;
  padding-top: 1.5rem;
}

.add-ingredient-form > input {
  min-height: 38px;
  width: 100%;
  background: white;
  border-radius: 6px;
  border: none;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-ingredient-form > button {
  min-height: 2.5rem;
  padding-inline: 1rem;
  background: black;
  color: white;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


ul {
  padding: 1.5rem 0.75rem;
}

.ingredients-section {
  padding-top: 1.5rem;
}

.ingredients-section > ul {
  line-height: 2.4;
}

.ingredients-section > h2 {
  font-weight: 700;
}


.field {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.get-a-recipe-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 1.5rem;
  background: rgb(213, 213, 213);
  border-radius: 6px;
  min-height: 10rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: clamp(0.85rem, 1vw, 1rem);
}
.get-recipe-form{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  gap: 5px;
}
.get-recipe-form>input{
  border-radius: 5px;
   width: clamp(6rem, 12vw, 10rem);
  min-height: 2.25rem;
  

}
.get-recipe-form>button{
  background-color: rgb(210, 170, 94);;
  border: none;
  color: white;
  font-size: clamp(0.7rem, 1.5vw, 0.875rem);
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}
.get-a-recipe-container > div {
  line-height: 1.3;
}

.recipe-container-title {
  font-size: clamp(1.1rem, 2vw, 1.6rem);
  margin-bottom: 0.4em;
}




.generated-recipe-container {
  padding: 20px;
  border-radius: 8px;
  text-align: justify;
}


.suggested-recipe-container {
  padding-top: 2.5rem;
  line-height: 2.4;
  
}


.star {
  background: transparent;
  border: none;
}
